<!DOCTYPE html>
<html>

<head>
    <title>Genres</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Genres</h1>
    <ul>
        <% for( let genre of genres ) { %>
        <li>        
            <%= genre.name %>
        </li>
       

        <% } %>
    </ul>
    
</body>

</html>