<!DOCTYPE html>
<html>
<!-- <%- include("headerPartials")  %> -->

<body>
    <form action="/movies/create" method="POST">
        <div>
            <label for="title">Titulo</label>
            <input type="text" name="title" placeholder="title">
        </div>
        <div>
            <label for="awards">Premios</label>
            <input type="number" min="0" name="awards" placeholder="awards">
        </div>
        <div>
            <label for="revenue">Ganancias</label>
            <input type="number" name="revenue" placeholder="revenue">
        </div>
        <div>
            <label for="release_date">Fecha de Estreno</label>
            <label>Release Date</label><input type="date" name="release_date">
        </div>
        <div>
            <label for="length">Duracion</label>
            <input type="number" name="length">
        </div>
        <button>Crear !!!</button>
    </form>
</body>

</html>