<!DOCTYPE html>
<html>
<!-- <%- include("headerPartials")  %> -->

<body>
    <form action="/movies/create" method="POST">
        <div>
            <input type="text" name="title" placeholder="title">
        </div>
        <div>
            <input type="number" min="0" name="awards" placeholder="awards">
        </div>
        <div>
            <input type="number" name="revenue" placeholder="revenue">
        </div>
        <div>
            <label>Release Date</label><input type="date" name="release_date">
        </div>
        <div>
            <label>Length</label><input type="number" name="length">
        </div>
        <button>Submit</button>
    </form>
</body>

</html>